.profile {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  box-sizing: border-box;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 31px;
}

@media screen and (max-width: 920px) {
  .profile {
    max-width: 581px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
  }
}