.authorization__form {
  display: flex;
  flex-direction: column;

  max-width: 358px;
}

/* .authorize {
  margin: 0 auto;
  max-width: 358px;
  min-height: 429px;
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.authorization__form {
    display: flex;
    flex-direction: column;
    padding: 31px 0 0;
    gap: 30px;
    width: 360px;
  } */