.element__delete-button {
  background-image: url(../../../images/delete-button.svg);
  width: 18px;
  height: 19px;
  padding: 0;

  position: absolute;
  top: 20px;
  right: 20px;
}

.element__delete-button:hover {
  opacity: .6;
}