.authorization__input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;

  padding: 0;
  padding-bottom: 7px;
  margin-bottom: 30px;
  height: 27px;

  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.authorization__input::placeholder {
  color: #ccc;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}