.popup__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 9px 0;
  margin-bottom: 5px;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
}

.popup__input:focus {
  outline: 1px solid rgba(0, 0, 0, .2);
  border-bottom: none;
}